.page {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3871px; }

.header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #98C3E8), color-stop(20.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #98C3E8 1%, rgba(152, 195, 232, 0) 20.12%);
  background: linear-gradient(0deg, #98C3E8 1%, rgba(152, 195, 232, 0) 20.12%);
  min-height: 20%; }

.page__header {
  position: relative;
  top: 0; }

.logo {
  width: 48px;
  height: 48px; }

.header__logo {
  position: absolute;
  left: 8%;
  right: 0%;
  top: 6%; }

.nav {
  max-width: 48px;
  background-color: white;
  color: white;
  text-align: center;
  min-height: 48px;
  font-family: 'Arial'; }

.header__nav {
  position: absolute;
  right: 8%;
  top: 6%; }

#check-menu {
  display: none; }

.nav__label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  line-height: 40px; }

.nav__burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #356EAD;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.second, .third {
  top: 18px; }

.fourth {
  top: 28px; }

.nav__main-menu {
  display: block;
  position: absolute;
  width: 200px;
  top: -150px;
  right: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.link {
  text-decoration: none; }

.link:hover {
  background-color: rgba(100, 100, 200, 0.9); }

#check-menu:checked ~ .nav__main-menu {
  max-height: 500px;
  font-size: 16px; }

#check-menu:checked ~ .first {
  display: none; }

#check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#check-menu:checked ~ .fourth {
  display: none; }

.header__image {
  position: absolute;
  top: 12%;
  right: 8%;
  height: 85%; }

.header__text-card {
  max-width: 45%;
  position: absolute;
  top: 20%;
  left: 20%; }

.text-card__header_blue {
  color: #1F3F68;
  font-family: Galien;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em; }

.text-card__text {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  width: 55%;
  margin-bottom: 12%; }

.text-card__text_blue {
  color: #1F3F68;
  opacity: 0.6; }

.button {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF; }

.page__help {
  position: relative;
  height: 30%; }

.help__text {
  position: absolute;
  top: 20%;
  left: 12%;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099; }

.help-card {
  width: 20%;
  text-align: center;
  border: 1px solid black;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px; }

.help-card_first {
  position: absolute;
  top: 60%;
  left: 20%; }

.help-card_second {
  position: absolute;
  top: 30%;
  right: 20%; }
